<html>
<head>

<link   href= "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet" />
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src = "http://ajax.microsoft.com/ajax/jquery.validate/1.5.5/jquery.validate.js"></script>
<script>
         $().ready(function() {
        	$("#survey_form").validate({rules:{
        				                        "{{survey.name}}[q1]":"required",
        				                        "{{survey.name}}[q2]":"required"
        										},
        								errorClass: "alert"
        								});
        	
        	$.ajax({
				      type : "POST",
				      url  : "/reports/events",
				      data : {"uuid":"{{transaction.uuid}}","event":"survey1 has been opened"},
				      async:false
	 				});
         });
      </script>
<script type="text/javascript">
         var _veroq = _veroq || [];
         var load = function () {
             var ve = document.createElement('script');
             ve.type = 'text/javascript';
             ve.async = false;
             ve.src = 'http://www.getvero.com/assets/m.js';
             var s = document.getElementsByTagName('script')[0];
             s.parentNode.insertBefore(ve, s);
         }();
         // Initialise the library.
         _veroq.push(['init', {
                               api_key: "{{getvero.api_key}}"
                       }]);
         //login user in getvero
         _veroq.push(['user', {email: '{{user.email}}'} ]);
         //add event open fisrt survey
         _veroq.push(['track', '{{getvero.open_first_survey_event}}',{"uuid": '{{transaction.uuid}}'}]);
         function submit_survey(){
         	var answers = jQuery("#survey_form").serializeArray();
               var answers_dict = {};
               for( var i in answers){
                   if(answers[i].value==="true"){
                          answers_dict[answers[i].name] = true;
            }
                   else if(answers[i].value==="false"){
                          answers_dict[answers[i].name] = false;
                   }
                   else{
                  	 answers_dict[answers[i].name] = answers[i].value;
                  }
               }
         answers_dict["email"]  = '{{user.email}}';
         _veroq.push(['user', answers_dict ]);
         //add event if both answer was true
         if (answers_dict["{{survey.name}}[q1]"]===true && answers_dict["{{survey.name}}[q2]"]===true){
           _veroq.push(['track', '{{getvero.survey_1_positive_event}}',{"uuid": '{{transaction.uuid}}'}]);
            	$.ajax({
				      type : "POST",
				      url  : "/reports/events",
				      data : {"uuid":"{{transaction.uuid}}","event":"survey1 positive"},
				      async:false
	 				});
               }
               else{
           			_veroq.push(['track', '{{getvero.survey_1_negative_event}}',{"uuid": '{{transaction.uuid}}'}]);
           			$.ajax({
				      type : "POST",
				      url  : "/reports/events",
				      data : {"uuid":"{{transaction.uuid}}","event":"survey1 negative"},
				      async:false
	 				});
               }
         //send form
         jQuery("#survey_form").submit();
         }
      </script>
</head>
<body style="padding-top:80px;">
<div class="container" style="width:600px;">
	<header class="jumbotron jumbotron1 subhead" id="overview">
	<div>
		<h1 style="color: rgb(51, 51, 51); ">Survey #1</h1>
		<p>
			 Hola <span class="badge badge-info">{{user.First_Name}} {{user.Last_Name}}</span>, por favor llena el siguiente cuestionario
		</p>
	</div>
	</header>
	<div style="height:40px;">
	</div>
	<section id="question">
	<form id="survey_form" method="POST">
		<input type="hidden" name="survey_name" value="{{survey.name}}" />
		<input type="hidden" name="uuid"        value="{{transaction.uuid}}" />
		<input type="hidden" name="lang"        value="es" />
		<p>
			<fieldset>
				<legend>Te gusto la estadia en <span class="badge badge-important">{{transaction.hotel}}</span> ?</legend>
				<div class="clear" style="height:20px;">
				</div>
				<label for="{{survey.name}}[q1]_1">
				<input id="{{survey.name}}[q1]_1" type="radio" name="{{survey.name}}[q1]" value="true">Si</label>
				<label for="{{survey.name}}[q1]_2">
				<input id="{{survey.name}}[q1]_2" type="radio" name="{{survey.name}}[q1]" value="false">No</label>
				<label for="{{survey.name}}[q1]" style="display:none;" class="alert">This field is required</label>
			</fieldset>
		</p>
		<p>
			<fieldset>
				<legend>Te gusto el servicio al cliente del hotel?</legend>
				<div class="clear" style="height:20px;">
				</div>
				<label for="{{survey.name}}[q2]_1">
				<input id="{{survey.name}}[q2]_1" type="radio" name="{{survey.name}}[q2]" value="true" validate="required:true">Si</label>
				<label for="{{survey.name}}[q2]_2">
				<input id="{{survey.name}}[q2]_2" type="radio" name="{{survey.name}}[q2]" value="false">No</label>
				<label for="{{survey.name}}[q2]" style="display:none;" class="alert">This field is required</label>
			</fieldset>
		</p>
		<p>
			<fieldset>
				<legend>Puedes escribir un comentario sobre algo que paso mientras estabas en el hotel? </legend>
				<div class="clear" style="height:20px;">
				</div>
				<textarea name="{{survey.name}}[comment]" style="width:600px;min-height:150px;"></textarea>
			</fieldset>
		</p>
		<p>
			<a style="float:right;" onclick="if(jQuery('#survey_form').valid()){submit_survey();}" class="btn btn-success" href="#" style="background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81)); color: rgb(255, 255, 255); background-color: rgb(81, 163, 81); ">Finalizar</a>
		</p>
	</form>
	</section>
</div>
</body>
</html>