<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Hotel Dictionary</title>
  <link href=
  "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css"
  rel="stylesheet" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type=
  "text/javascript">
</script>
  <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.5.5/jquery.validate.js"
  type="text/javascript">
</script>
  <script type="text/javascript">
//<![CDATA[
	var findall = function(expresion,text){
      var rx = new RegExp(expresion, "g");
      var matches = [];
      while((match = rx.exec(text)) !== null){
        matches.push(match);
      }
      return matches;
  };
   
   $.validator.addMethod("ValidTripodAdvisorHotel", function(value, element) {
	
		var results = findall("^http\:\/\/www\.tripadvisor\.com\/Hotel_Review-g[0-9]+-d[0-9]",value);
	    if(results.length!=1){
	    	return false;
	    }
	    return true;
	
		
	 }, "Please enter a valid TripAdvisor Hotel review url");
	 
    
    
    $().ready(function () {
    
             $("#dictionary_form").validate({
             	 onfocusout: false,
      			 onkeyup: false,
                 rules: {
                 	 {% for hotel in hotels %}
                     "{{hotel.name}}": {ValidTripodAdvisorHotel:true},
                     {% end %}
                 },
                 errorClass: "alert"
             });
         })
  //]]>
  </script>
  
  <style type="text/css">
/*<![CDATA[*/
  body.c9 {padding-top:80px;}
  a.c7 {background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81)); color: rgb(255, 255, 255); background-color: rgb(81, 163, 81);float:right;}
  textarea.c6 {width:}
  textarea.c5 {width:600px;min-height:150px;}
  input.c4 {width:100%;height:30px;}
  div.c3 {height:20px;}
  div.c2 {height:40px;}
  h1.c1 {color: rgb(51, 51, 51);}
  /*]]>*/
  </style>
</head>

<body class="c9">
  <div class="container c8">
    <div>
      <h1 class="c1">Hotel Dictionary</h1>

    </div>

    <div class="c2"></div>

    <form id="dictionary_form" method="post">
     
	  
	  <fieldset>
        <legend>Fill the form with the appropriate TripAdvisor url for each hotel</legend>
        <div class="clear c3"></div>
        {% for hotel in hotels %}
        <div class="row">
			  <div class="span3"><input  style="width:100%;"  type="text" readOnly="readOnly" value="{{hotel.name}}"></div>
			  <div class="span8"><input style="width:100%;" type="text" name = "{{hotel.name}}" value="{{hotel.url}}" placeholder="please put the url of this hotel in TripAdvisor"></div>
			  
			  <div class="span1">
			  					{% if hotel.url!="" %}
			  						<a class="btn btn-danger" href="{{hotel.url}}">Go</a>
			  					{% end %}
			  </div>
			
		</div>
		{% end %}
      </fieldset>
   

      <p><a onclick="if(jQuery('#dictionary_form').valid()){jQuery('#dictionary_form').submit();}" class="btn btn-success c7" href="#">Save</a></p>
    </form>
  </div>
</body>
</html>
