<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Customers responses</title>
  <link href=
  "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css"
  rel="stylesheet" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type=
  "text/javascript">
</script>


  
  <style type="text/css">
/*<![CDATA[*/
  body.c9 {padding-top:80px;}
  a.c7 {background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81)); color: rgb(255, 255, 255); background-color: rgb(81, 163, 81);float:right;}
  textarea.c6 {width:}
  textarea.c5 {width:600px;min-height:150px;}
  input.c4 {width:100%;height:30px;}
  div.c3 {height:20px;}
  div.c2 {height:40px;}
  h1.c1 {color: rgb(51, 51, 51);}
  /*]]>*/
  </style>
</head>

<body class="c9">
  <div class="container c8" style="width:1200px;">
    <div>
      <h1 class="c1">Customers responses</h1>
    </div>
    
	{% for user in users %}
    <div class="c2"></div>
	
        <legend>{{user["First_Name"]}} {{user["Last_Name"]}} &lt;{{user["email"]}}&gt; @Hotel: {{user["hotel"]}}</legend>
        <div class="clear c3"></div>
        {% for survey in user["surveys"] %}
	        {{survey["name"]}} 
	        
		       <table  class="table" style="margin-left:200px;width:60%">
				<tbody>
		           {% for question in survey["questions"] %}
				        <tr>
				        	  <td>
							  <div class="span4">{{question}}</div>
							  </td>
							  <td>
							  <div class="span4">{{survey["questions"][question]}}</div>
							 </td>
						</tr>
				   {% end %}
		   		</tbody>
		   </table>
   	    {% end %}
  {% end %}
  </div>
</body>
</html>
